.cards {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  background-color: var(--color-rocket);
}

.card__image-container img {
  width: 100%;
}

.card__content,
.card__info {
  padding: 24px;
}

.card__info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.card__price {
  background-color: var(--color-rocket);
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}
